body {
    font-family: Arial, sans-serif;
    
    text-align: center;
    margin: 0;
    padding: 20px;

    background-image: url('https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center;
    
  }
  
  h1 {
    color: #ffffff;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(53, 59, 68);


  }
  
  input {
    display: block;
    margin: 10px auto;
    padding: 9px;
    width: 80%;
    border-radius: 5px;
    color: rgb(255, 255, 255);
     background-color: rgb(0, 31, 78);

  }
  
  button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
  }
  
  button:hover {
    opacity: 0.4;
   

  }
  
  button:first-of-type {
    background-color: #640912;
    color: rgb(255, 255, 255);
  }
  
  button:nth-of-type(2) {
    background-color: #640912;
    color: white;
  }
  
 
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: rgb(0, 31, 78);
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(8, 102, 243);
  }
  

  p {
    font-size: 16px;
  }
  
  p {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
    margin:  10px auto;
  }
  div {
    color: white;
  }
  .realizado {
    text-decoration: line-through;
    text-decoration-thickness: 5px; 
    text-decoration-color: rgb(20, 87, 231); 
  }